<div class="container padding">
  <div class="main">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="page-header">Miguel
          <small>about</small>
        </h1>
      </div>
    </div>

    <div class="row">
      <div class="col-md-5 col-md-offset-1">
        <img class="img-responsive" src="../../assets/about.png" alt="">
        <div class="bio-section">
          <ul>
            <li>Miguel Malcolm <small><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>St. Petersburg, FL area</small></li>
            <li>Stack: <small>Javascript, Typescript, Angular</small></li>
            <li>Camp: <a href="https://twitter.com/theironyard"><small>@TheIronYard</small></a></li>
          </ul>
          <ul class="social">
            <li><a href="http://twitter.com/miguelmalcolm" target="blank"><i class="fa fa-twitter-square fa-3x" aria-hidden="true"></i></a></li>
            <li><a href="http://instagram.com/miguelxmalcolm" target="blank"><i class="fa fa-instagram fa-3x" aria-hidden="true"></i></a></li>
            <li><a href="http://linkedin.com/in/miguel-js" target="blank"><i class="fa fa-linkedin-square fa-3x" aria-hidden="true"></i></a></li>
            <li><a href="http://github.com/m1g" target="blank"><i class="fa fa-github-square fa-3x" aria-hidden="true"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-5">
        <h1>True story.</h1>
        <p class="bio">I'm a web based app developer based in the Tampa Bay/St. Pete, Florida area -
          and in addition to coding, I'm a husband &amp; father, a wanna-be foodie, and a fan of all
          things technology and learning.
        </p>
        <p class="intro">After 6 years in advertising production under the bright lights and sleepless nights of the
          big city, my wife and I packed up our things, left Brooklyn and moved closer to the sun and sand, beautiful beaches,
          and our family in Florida.
        </p>
        <p>Even though my background is in ad production, I've been a sudo student of design and web development
          for my entire career - so I decided to go all in and use the move as an opportunity to follow a
          life-long passion of becoming a developer. I'm a full-time immersive <a href="https://www.theironyard.com/locations/tampa-bay">Iron Yard grad</a> with
          some React, Angular, and Ionic experience. I'm also keen on details (like sudo instead of pseudo) &#8984;
         </p>
         <p>On a personal level, I enjoy building and engaging with products that serve societal needs and I hope
           to pass this knowledge on to the next generation of coders. Hit me up on the socials!
          </p>
      </div>
    </div>
  </div>
  <hr>
  <h1>Extended Stack.</h1>
    <div class="row">
      <div *ngFor="let i of icons" class="col-md-3 col-sm-6 margin">
          <a href="{{i.link}}"><img class="img-responsive" src="{{i.src}}" alt="{{i.alt}}"></a>
      </div>
    </div>
</div>
