.bio-section {
  border: 1px solid #ccc;
  max-width: 300px;
  padding: 1em;
}

footer {
  position: absolute;
  bottom: 0;
}

ul {
  padding-left: 0;
  list-style: none;
}

.bio {
  font-size: 2rem;
  font-style: italic;
  color: #888;
}

.intro {
  font-weight: 700;
  font-size: 1.25em;
}

p a:link, p a:hover {
  color: #333;
  font-weight: bold;
}

.social { text-align: center; }
.social li { display: inline-block; }
.fa { padding: 0 5px; }

.margin {
  margin: 1.5em 0;
}
